<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CADInmobiliaria.Properties.Settings.inmobliariaConnectionString"
            connectionString="Data Source=MICHAELMARIA-PC\MAJO;Initial Catalog=inmobliaria;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>